<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Team Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="name"
        placeholder="Enter Team Name">
    </div>
    <label class="col-sm-2 col-form-label">Creation Date</label>
    <div class="col-sm-10">
        <input type="date"  [(ngModel)]="createdAt">
    </div>
</div>

<button (click)="addTeam()" *ngIf="team.id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateTeam()" *ngIf="team.id!=0" class="btn btn-primary">
    Update
</button>