<div class="container">

  <h3 class="d-flex justify-content-center">Binary Studio App Demo</h3>
  <h5 class="d-flex justify-content-center">Projects Management Portal</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="teams" class="m-1 btn btn-light btn-outline-primary">Teams</button>
        <button routerLink="users" class="m-1 btn btn-light btn-outline-primary">Users</button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>